
.inputContainer {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-around;
}

.buttonsContainer {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

